<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {# Custom CSS#}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
<body>
    <div class="container">
        <div class="jumbotron"> 
            {% if messages %}
                {% for message in messages %}
                    <div>{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        <h1>Editar</h1>
        <form action="" method="POST" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form productUpdate_form %}
            {% buttons %}
              <button type="submit" class="btn btn-primary">Editar</button>
            {% endbuttons %}
        </form>
        </div>
    </div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</html>